body {
    background-color: #141414;
    color: white;
}

.card {
    background-color: #1f1f1f;
    border: 1px solid #333;
}

.pelicula-card {
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #333;
}

input {
    background-color: #2b2b2b !important;
    color: white !important;
    border: 1px solid #444 !important;
}

input::placeholder {
    color: #aaa !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
}


    .titulo-agregar {
        color: #dc3545;
    }

.card.resultado-card {
    background-color: #1e1e2f;
    color: #f0f0f0;
    border-left: 5px solid #e1c05d;
}

.resultado-card {
    background-color: #1f1f1f;
    border: 1px solid #333;
    color: white;
}

.resultado-card h3,
.resultado-card h4,
.resultado-card p {
    color: white;
}